.show-enter-active,
.show-leave-enter {
    transform: translateX(0);
    transition: all .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.show-enter,
.show-leave-to {
    transform: translateX(100%);
    transition: all .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .125s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}